:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  --eerie-black: rgb(26, 26, 26);
  --x11-gray: rgb(187, 187, 187);
  --granite-gray: rgb(102, 102, 102);
  --banana-yellow: rgb(255, 221, 54);
  --brigth-pink: rgb(255, 5, 130);
  --cream-white: rgb(252, 251, 244);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Nunito, Montserrat, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: var(--eerie-black);
  color: var(--cream-white);
  display: grid;
  grid-template-rows: 100vh 4rem 100vh 100vh 100vw 2rem;
  gap: 2rem;
}

.intro {
  font-size: 10vh;
  text-align: center;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.img-down-arrow {
  width: 20vh;
  animation: arrowMove 1s ease-in-out infinite;
}

@keyframes arrowMove {
  from {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.intro-text {
  animation: typing 10s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
  z-index: 10;
  background-color: var(--eerie-black);
  border: solid 1px var(--brigth-pink);
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 8rem;
}
