:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  --eerie-black: rgb(26, 26, 26);
  --x11-gray: rgb(187, 187, 187);
  --granite-gray: rgb(102, 102, 102);
  --banana-yellow: rgb(255, 221, 54);
  --brigth-pink: rgb(255, 5, 130);
  --cream-white: rgb(252, 251, 244);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Nunito, Montserrat, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: var(--eerie-black);
  color: var(--cream-white);
  display: grid;
  grid-template-rows: 100vh 4rem 100vh 170vh 50vh 2rem;
  gap: 2rem;
}

.intro {
  font-size: 10vh;
  text-align: center;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.img-down-arrow {
  width: 20vh;
  animation: arrowMove 1s ease-in-out infinite;
}

@keyframes arrowMove {
  from {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.intro-text {
  animation: typing 10s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 2px;
  font-size: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
  z-index: 10;
  background-color: var(--eerie-black);
  border: solid 1px var(--brigth-pink);
  text-align: center;
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.header:hover {
  opacity: 1;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

/* About Section */
.about {
  display: flex;
  justify-content: space-between;
  gap: 5vh;
  padding: 2%;

  color: var(--x11-gray);
  border-bottom: solid 1px var(--brigth-pink);
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
}
.about-about {
  font-size: 2vh;
  line-height: 250%;
  padding: 3%;
}

.about-header,
.portfolio-header,
.contact-header {
  font-size: 4vh;
  background-color: var(--brigth-pink);
  padding-left: 2vw;
  border-radius: 1rem;
  max-width: 40vw;
}
.about-img img {
  width: 60%;
}

.about-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7%;
}
.about-img-container {
  max-width: 30%;
  max-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  background-color: var(--banana-yellow);
  font-size: 140%;
}

.app > img {
  width: 50vh;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  border-bottom: solid 1px var(--brigth-pink);
  color: var(--x11-gray);
}

.app {
  display: flex;
  gap: 4vh;
  padding: 3vh;
  margin: 1vh;
  font-size: 2vh;
  color: var(--x11-gray);
  border: solid 1px var(--banana-yellow);
  border-radius: 4vh;
}

.app-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70%;
}

.app-links {
  display: flex;
  justify-content: center;
  gap: 4vh;
}

a {
  text-decoration: none;
  color: var(--x11-gray);
  background-color: var(--banana-yellow);
  padding: 2vh;
  border-radius: 2vh;
  transition: all ease-in-out 1s;
}

a:hover,
a:focus {
  background-color: var(--brigth-pink);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 4vh;

  color: var(--x11-gray);
  border-bottom: solid 1px var(--brigth-pink);
}

.contact-container {
  display: flex;
  justify-content: space-around;
}

.contact-info {
  font-size: 5vh;
  padding: 2vh;
  border-right: solid 1px var(--banana-yellow);
}

.contact-links {
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

.contact-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

a img {
  width: 4vh;
}

.footer {
  text-align: center;
}

.home:hover,
.about-nav:hover,
.portfolio-nav:hover,
.content-nav:hover {
  font-size: 2vh;
}
